include MANIFEST.in
include README.md
include TODO.md
include COPYING
include pynetem/ui/defaults.conf
include example/*
include docs/Makefile
recursive-include docs/source *
include scripts/*.py
include .vscode/*
recursive-include docker *
recursive-include tests *.py
