Source: pynetem
Section: net
Priority: extra
Maintainer: Mickael Royer <mickael.royer@recherche.enac.fr>
Build-Depends: debhelper (>= 10.0.0), python3-all (>= 3.4.0),
               dh-python, python3-setuptools
Standards-Version: 3.9.2.0
X-Python3-Version: >= 3.4
Homepage: http://mroy31.dyndns.org/~roy/repository/pynetem
Vcs-Git: http://mroy31.dyndns.org/~roy/repository/pynetem
Vcs-Browser: http://mroy31.dyndns.org/~roy/repository/pynetem

Package: pynetem
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
         lsb-base (>= 3.0-6),
         qemu-system,
         qemu-utils,
         uml-utilities,
         vde2,
         python3-configobj
Description: PyNetem is network emulator working with qemu/vde
 PyNetem is a network emulator based on qemu and vde
